* {
  box-sizing: border-box;
}

#Nav-bar{
  position: absolute;
  z-index: 100;
}
.Cropper-controls{
  position: absolute;
  left: 0;
  right:0;
  bottom: 2rem;
  z-index: 10;
}
.Cropper-btn-crop {
  position: absolute;
  left: 50%;
  bottom: 2rem;
  padding: 1rem;
  background-color: blueviolet;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
#stage-parent {
  max-width: 500px;
}
canvas{
  border: 1px solid rgba(0,0,0,.2) !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/****************************************************/
.Nav-bar{
  display: flex;
}
.Nav-bar a {
  display: block;
  height: 100%;
}
.Nav-bar li {
  list-style-type: none;
}

#Grid-selector a, #Thumbs-list a {
  display: block;
  height: 100%;
}

#Grid-selector hr {
  border: none;
  border-top: 2px solid #f5f2f2;
  height: 1px;
}

#Grid-selector input[type="radio"] {
  display: block;
}

#Grid-selector #playPanel {
  padding: 10px 0px;
  margin: 10px auto;
  max-width: 800px;
  width: 95%;
}

#Grid-selector #actualImageBox {
  display: inline-block;
  font-size: 0.8em;
  margin: 10px 10px;
  vertical-align: top;
  width: 280px;
}

#Grid-selector #stepBox,
#Grid-selector #timeBox {
  display: inline-block;
  width: 48%;
}

#Grid-selector #stepBox div {
  background-color: #c2defc;
  display: inline-block;
  padding: 1px 4px;
  margin: 0px auto;
  max-width: 800px;
}

#Grid-selector img#actualImage {
  /* height: 280px; */
  width: 500px;
}
/* section {
  position: relative;
  list-style-type: none;
  display: inline-block;
  padding: 0;
  width: 450px;
} */

#Grid-selector #sortable {
  position: relative;
  list-style-type: none;
  display: inline-block;
  margin: 10px;
  padding: 0;
  /* width: 496.1px;
  height: 350.8px; */
  width: 500px;
  height: 350px;
}

#Grid-selector #sortable li {
  background-size: 400% 400%;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  float: left;
  width: 100px;
  height: 100px;
}

/* #Grid-selector button {
  background-color: #f5f2f2;
  border: 1px solid #cce;
  display: inline;
  font-size: 14px;
  height: auto;
  width: auto;
  padding: 3px 8px;
}
 */
